/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

#ignore ide helper files
_ide_helper.php
_ide_helper_models.php

#remove uploaded files
/public/avatars
/public/thumbnails
/storage/app/avatars/*
/storage/app/thumbnails/*

#keep default images
!/storage/app/avatars/default-avatar.png
!/storage/app/thumbnails/default-thumbnail.jpg
